<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Tracker</title>
  </head>
  <body>
    <center style="margin-top: 100px">
      <h1 style="font-weight: lighter">Food tracker open dashboard</h1>
      <a href="/add_food_track_entry">Add Entry</a>&nbsp;|&nbsp;
      <a href="/dashboard">Main Dashboard</a>&nbsp;|&nbsp;
      <a href="/logout">Logout</a>
    </center>
  </body>
</html>
